@import "colors.scss";
@import "sizes.scss";
@import "image-backgrounds.scss";


.quoteAuthor{
  font-weight: bold;
}

.quote {
  background-color: '#9A8D7F';
  border: 0.0625 solid '#D4C5B6';
  margin: 0.3125 1.25;
  padding: 0.4;
}
