{
    "extends": [
        "react-app",
        "airbnb-base",
        "prettier"
    ],
    "plugins": ["prettier"],
    "rules": {
        "class-methods-use-this": [1, { "exceptMethods": ["render"] }],
        "linebreak-style": 0,        
        "prettier/prettier": 2
    }
}