{
    "parser": "babel-eslint",
    "extends": [
        "airbnb-base",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "env": {
        "es6": true,
        "commonjs": false,
        "node": false
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "react",
        "ramda"
    ],
    "rules": {
        "arrow-spacing": 1,
        "block-scoped-var": 1,
        "camelcase": 1,
        "comma-dangle": [1,"never"],
        "complexity": [1,5],
        "consistent-return": 1,
        "curly": [1,"all"],
        "dot-location": [1,"property"],
        "eol-last": 0,
        "eqeqeq": [1,"smart"],
        "func-style": [1, "expression"],
        "import/extensions": [1, "never" ],
        "import/prefer-default-export": 1,
        "indent": [1, 4, { "SwitchCase": 1 }],
        "jsx-quotes": [1, "prefer-single"],
        "max-len": [1, 140, 4, {"ignoreComments": true,"ignoreRegExpLiterals": true,"ignoreStrings": true,"ignoreTrailingComments": true,"ignoreUrls": true}],
        "no-alert": 1,
        "no-cond-assign": [2,"except-parens"],
        "no-console": 1,
        "no-constant-condition": [1, { "checkLoops": false }],
        "no-control-regex": 1,
        "no-debugger": 1,
        "no-delete-var": 1,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-duplicate-imports": 2,
        "no-empty-character-class": 1,
        "no-empty": 2,
        "no-ex-assign": 2,
        "no-extend-native": 1,
        "no-extra-bind": 1,
        "no-extra-boolean-cast": 1,
        "no-extra-parens": [1,"all"],
        "no-extra-semi": 1,
        "no-fallthrough": 1,
        "no-floating-decimal": 2,
        "no-func-assign": 2,
        "no-global-assign": "error",
        "no-implicit-coercion": [1,{"boolean":true,"number":true}],
        "no-implied-eval": 1,
        "no-inner-declarations": [2,"functions"],
        "no-invalid-regexp": 1,
        "no-irregular-whitespace": [1, { "skipRegExps": true }],
        "no-iterator": 1,
        "no-lone-blocks": 1,
        "no-loop-func": 1,
        "no-mixed-spaces-and-tabs": 1,
        "no-multi-spaces": 1,
        "no-multi-str": 1,
        "no-negated-in-lhs": 1,
        "no-new-func": 1,
        "no-new-wrappers": 1,
        "no-new": 1,
        "no-obj-calls": 2,
        "no-octal-escape": 1,
        "no-octal": 1,
        "no-param-reassign": [1,{"props":true}],
        "no-proto": 1,
        "no-redeclare": [1,{"builtinGlobals":true}],
        "no-regex-spaces": 1,
        "no-return-assign": [1,"except-parens"],
        "no-script-url": 1,
        "no-self-compare": 2,
        "no-sequences": 1,
        "no-shadow-restricted-names": 1,
        "no-shadow": [1,{"builtinGlobals":true,"hoist":"all"}],
        "no-sparse-arrays": 1,
        "no-throw-literal": 2,
        "no-trailing-spaces": 1,
        "no-undef-init": 1,
        "no-undef": 1,
        "no-undefined": 1,
        "no-underscore-dangle": 0,
        "no-unexpected-multiline": 1,
        "no-unneeded-ternary": 1,
        "no-unreachable": 2,
        "no-unused-vars": 1,
        "no-use-before-define": 2,
        "no-useless-call": 1,
        "no-var": 1,
        "no-void": 1,
        "no-warning-comments": [1,{"terms":["todo"],"location":"anywhere"}],
        "no-with": 1,
        "object-shorthand": [1,"always"],
        "one-var": [1,"never"],
        "padded-blocks": [1,"never"],
        "prefer-const": 1,
        "prefer-template": 1,
        "quote-props" : [1, "as-needed"],
        "quotes": [1,"single","avoid-escape"],
        "ramda/prefer-reject": 2,
        "react/display-name": [1,{ "ignoreTranspilerName": false }],
        "react/forbid-prop-types": [1, { "forbid": ["any"] }],
        "react/jsx-boolean-value": 1,
        "react/jsx-closing-bracket-location": 0,
        "react/jsx-curly-spacing": 1,
        "react/jsx-indent-props": 0,
        "react/jsx-key": 1,
        "react/jsx-max-props-per-line": 0,
        "react/jsx-no-bind": [1, { "ignoreRefs": true }],
        "react/jsx-no-duplicate-props": 1,
        "react/jsx-no-literals": 1,
        "react/jsx-no-undef": 1,
        "react/jsx-pascal-case": 1,
        "react/jsx-sort-prop-types": 0,
        "react/jsx-sort-props": 0,
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,
        "react/jsx-wrap-multilines": 1,
        "react/no-danger": 1,
        "react/no-did-mount-set-state": 1,
        "react/no-did-update-set-state": 1,
        "react/no-direct-mutation-state": 1,
        "react/no-multi-comp": 1,
        "react/no-set-state": 0,
        "react/no-unknown-property": 1,
        "react/prefer-es6-class": 1,
        "react/prop-types": 2,
        "react/react-in-jsx-scope": 1,
        "react/self-closing-comp": 1,
        "react/sort-comp": 1,
        "require-yield": 2,
        "semi": [1, "always"],
        "use-isnan": 2,
        "valid-typeof": 2,
        "vars-on-top": 1,
        "yoda": [1,"never",{}]
    },
    "settings": {
        "import/resolver": {
            "babel-module": {}
        }
    }
}