{
    "extends": [
        "../../../.eslintrc",
        "plugin:fp/recommended"
    ],
    "plugins": [
        "react",
        "fp"
    ],
    "rules": {
        "fp/no-mutation": [2, {"exceptions": [{"property": "propTypes"}, {"property": "defaultProps"}, {"property": "state"}]}],
        "fp/no-mutating-methods": ["error", {"allowedObjects": ["R"]}]
    }
}