{
    "extends": [
        "../../../.eslintrc",
        "plugin:fp/recommended"
    ],
    "plugins": [
        "react",
        "fp"
    ],
    "rules": {
        "fp/no-mutating-methods": ["error", {"allowedObjects": ["R"]}]
    }
}